<form method="post" action="/<%= @filename %>">
<label for="text">This is an edit form</label>
<div>
  <textarea name="text" id="text" rows=20 cols=100><%= @text %></textarea>
</div>
<button type="submit">Submit</button>
</form>
<p>
<form><input type="button" value="Return to previous page" onclick="history.back()"></form>
</p>