<!doctype html>
<html lang="en-US">
  <link rel="stylesheet" href="/stylesheets/cms.css">
  <body>
  <meta charset="UTF-8">
    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %></p>
    <% elsif session[:error] %>
      <p class="message"><%= session.delete(:error) %></p> 
    <% elsif session[:success] %>
      <p class="message"><%= session.delete(:success) %></p> 
    <% end %>
    <%= yield %>
  </body>  
</html>
