<form method="post" action="/create">
  <label for="text">Create a new document</label>
  <div>
    <input name="filename" id="filename" type="text" value=""></input>
    <p>
    <button type="submit">Create</button><p>
  </div>
</form>
<p>
<form><input type="button" value="Return to previous page" onclick="history.back()"></form>
</p>