<form method="post" action="/users/signin">
  <div>
    <label for="signin">Sign in</label><p>
    <input id="username" placeholder="username" name="username" value="<%= params[:username] %>"></input><p>
  </div>
  <div>
    <input type="password" placeholder="password" name="password"></input></p>
    <button type="submit" action="post">Login</button>
  </div>
</form>
<p>
<form><input type="button" value="Return to previous page" onclick="history.back()"></form>
</p>
 
