.body {
  padding: 1em;
  font-family: sans-serif;
}

.message {
  padding: 10px;
  background: #FFFF99;
}

form.inline {
  display: inline;
}

.error {
  padding: 10px;
  background: #FFFF99;
}

.success {
  padding: 10px;
  background: #FFFF99;
}

.start {
  padding: 10px;
  background: #FFFF99;
}

.ending {
  padding: 10px;
  background: #FFFF99;
}
