<form method="post" action="/users/login">
  <div>
    <label for="login">Sign in to Time Track</label><p>
    <input id="username" placeholder="username" name="username" value="<%= params[:username] %>"></input><p>
  </div>
  <div>
    <input type="password" placeholder="password" name="password"></input></p>
    <button type="submit" action="post">Login</button>
  </div>
</form>

 
