<div>
  <form method="post">
  	  <label>Project Name: <p>
  	  <input type="text" name="project" value="<%= params[:project] %>"></label><p>
  	  <label>Task: <p>
  	  <input type="text" name="task" value="<%= params[:task] %>"></label><p>
  	  <label>Hourly rate:<p>
  	  <input type="text" name="rate" value="<%= params[:rate] %>"></label><p>
  	  <label>Start:<p>
  	  <input type="text" name="start" value="<%= params[:start] %>"></label><p>
  	  	<label>End:<p>
  	  <input type="text" name="ending" value="<% params[:ending] %>"></label><p>
  	<button type="submit">Submit</button>
  </form>
 </div> 


 