<% if @current[:endtime].nil? %>
<p> You began working on <%= @current[:task] %> at <%= @current[:starttime] %> </p>
<a href="/live_track/<%= @current[:id] %>/end">End tracking</a><p>
<% end %>

<a href="/live_track/new">New record</a><p>

<a href="/all_records">All records</a>

