<% if @current[:endtime].nil? %>
<p> You began working on <%= @current[:task] %> on <%= @current[:starttime][0..10] %> at <%= @current[:starttime][11..15] %>
  <p><a href="/live_track/<%= @current[:id] %>/end">End tracking</a><p>
<% end %>

<a href="/live_track/new">Create a new record</a><p>
<a href="/all_records">View all records</a>

