 <form action="/all_records" method="post">
   <label>Project Name: <p>
   <input type="text" name="project" value="<%= params[:project] %>"></label><p>
   <label>Task: <p>
   <input type="text" name="task" value="<%= params[:task] %>"></label><p>
   <label>Hourly rate:<p>
   <input type="text" name="rate" value="<%= params[:rate] %>"></label><p>
   <label>Begin tracking:<p>
      <button type="submit">Begin</button>
   </label>
</form>
  
