body {
  padding: 2em;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: red;
}

.message {
  padding: 10px;
  background: #FFFF99;
}

form input[type="text"] {
  width: 100%;
  height: 58px;
  padding: 15px 20px;
  border: 1px solid #a4a4a4;
  border-radius: 8px;
  box-sizing: border-box; 
}

form.inline {
  display: inline;
}

.error {
  padding: 10px;
  background: #FFFF99;
}

.success {
  padding: 10px;
  background: #FFFF99;
}

.start {
  padding: 10px;
  background: #FFFF99;
}

.ending {
  padding: 10px;
  background: #FFFF99;
}

